.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .titleText {
    margin: 0;
    color: #333;
  }
  
  .icons {
    display: flex;
  }
  
  .icon {
    font-size: 1.5rem;
    margin-left: 1rem;
    color: #333;
    cursor: pointer;
  }
  
  .icon:hover {
    color: #0077ff;
  }
  